<% include ./header %>

			<h2>Reading a good book, <br/>and many noble one is talking. </h2>
			<a class="more hvr-bounce-to-right" href="#">Get more</a>
		</div>
		<!--//banner-text-->
	</div>
	<!--//banner-->
	<!--banner-bottom-->
	<div class="banner-bottom">
		<div class="col-md-6 bnr-btm-left">
			<h5> Classical Literatures</h5>
			<p>所以我们必须了解自己的历史.阅读那些经典名著.在浩如烟海的名著中我们应该选择什么样的书呢?
</p>
		</div>
		<div class="col-md-6 bnr-btm-right">	
			<h5>article</h5>
			<p>微阅读是一种借短消息、网文和短文体生存的阅读方式，随着互联网技术的发展，正在迅速进入人们的生活
</p>
		</div>
		<div class="clearfix"> </div>	
	</div>
	<!--//banner-bottom-->
	<!--welcome-->
	<div class="welcome">
		<div class="container">
			<h3 class="title">Welcome</h3>
			<div class="welcome-info">
				<h4 class="hw">读书能帮助你集中注意力，尤其是你读的东西很枯燥的时候。</h4>			
				<p class="title">
An ambitious reader might finish off one a month without disrupting a personal reading program already in place. That means he or she would cross the finish line in the year 2063.</p>			
				<div class="welcome-row">
					<div class="col-md-3 col-sm-12 col-xs-12 welcome-grids">
						<h5><a href="/jhzp" style="color:#99abd5;font-size:18px;font-weight:bold">精华作品</a></h5>
						<p>各种蠢事，在每天阅读好书的情况下，仿佛烤在火上一样，渐渐熔化—— 雨果</p>
						<div class="welcome-icon">
							<span><i class="fa fa-check-square-o"></i> </span>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12 welcome-grids welcome-mdl">
						<h5><a href="" style="color:#99abd5;font-size:18px;font-weight:bold">新书试读</a></h5>
						<p>读书三决：第一步，以古为敌。第二步，以古为友。第三步，以古为徒。—— 李宗吾</p>
						<div class="welcome-icon">
							<span><i class="fa fa-users"></i></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12 welcome-grids welcome-mdl1">
						<h5><a href="" style="color:#99abd5;font-size:18px;font-weight:bold">分类好书</a></h5>
						<p>教师的职务是:千教万教，教人求真;学生的职务是:千学万学，学做真人—— 陶行知</p>
						<div class="welcome-icon">
							<span><i class="fa fa-cogs"></i></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12 welcome-grids">
						<h5><a href="" style="color:#99abd5;font-size:18px;font-weight:bold">作家专区</a></h5>
						<p>我一生的嗜好。除了革命外，只有好读书，我一天不读书，便不能生活—— 孙中山</p>
						<div class="welcome-icon">
							<span><i class="fa fa-bar-chart"></i></span>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!--//welcome--><div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="ly">LY书斋</a></div>
	<!--background-shape-->
	<div class="background-shape">
	</div>
	<!--background-shape-->
	<!--domain-->
	<div class="domain">
		<div class="container">
			<div class="domain-info">
				<h4>Would you like to buy a new Product ? </h4>
				<p class="text">Lorem ipsum dolor sit amet, consectetur adipi est eligendi scing elit irure dolor in reprehender it cumque nihil impedit quo minus id quod.</p>
				<div class="select-text">
					<select class="dropdown domain-select" tabindex="5" data-settings='{"wrapperClass":"flat"}'>
						<option>What do you want ?</option>
						<option>eligendiscing</option>
						<option>lorem ipsum</option>
						<option>consecteturadipi</option>
						<option>scingelitdolor</option>
					</select>
					<span class="site">Ipsum</span>
				</div>
				<div class="domain-table">
					<table class="table table-bordered"> 
						<tbody> 
							<tr> 
								<td>S.no</td>
								<td>Product</td> 
								<td>Quantity</td> 
								<td>Price</td> 
							</tr> 
							<tr> 
								<td>S.no</td>
								<td>Product</td> 
								<td>Quantity</td> 
								<td>Price</td> 
							</tr> 
						</tbody> 
					</table>
				</div>
			</div>
		</div>	
	</div>
	<!--//domain-->
	<!--background-shape-->
	<div class="background-shape color2">
	</div>
	<!--background-shape-->
	<!--about-team-->
	<div class="about-team"> 
	
		<div class="container">
			<h3 class="title"><a href="/alie">Our Team</a></h3>
			<div class="team-info">
				<div class="col-md-3  col-sm-12 col-xs-12 about-team-grids">
					<img src="/web/images/辰东.jpg" alt=""/>
					<div class="team-text">
						<h4><span>Chen Dong</span><a style="font-family:STXINGKA;font-size:20px">辰东</a></h4>
						<p style="color:#e6d5b9;font-size:12px;font-family:Audiowide-Regular;">代表作：<span>《神墓》</span></p>
					</div>
					<div class="caption">
						<ul>
							<li><a href="#" class="f2"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#" class="f3"></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 col-xs-12 about-team-grids">
					<img src="/web/images/天蚕土豆.jpg" alt=""/>
					<div class="team-text">
						<h4><span>Tian Cai</span><a style="font-family:STXINGKA;font-size:20px">天蚕土豆</a></h4>
						<p style="color:#e6d5b9;font-size:12px;font-family:Audiowide-Regular;">代表作：<span>《斗破苍穹》</span></p>
					</div>
					<div class="caption">
						<ul>
							<li><a href="#" class="f2"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#" class="f3"></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 col-xs-12 about-team-grids">
					<img src="/web/images/唐家三少.jpg" alt=""/>
					<div class="team-text">
						<h4><span>Tang San</span><a style="font-family:STXINGKA;font-size:20px">唐家三少</a></h4>
						<p style="color:#e6d5b9;font-size:12px;font-family:Audiowide-Regular;">代表作：<span>《斗罗大陆》</span></p>
					</div>
					<div class="caption">
						<ul>
							<li><a href="#" class="f2"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#" class="f3"></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 col-xs-12 about-team-grids">
					<img src="/web/images/南派三叔.jpg" alt=""/>
					<div class="team-text">
						<h4><span>San Shu</span><a style="font-family:STXINGKA;font-size:20px">南派三叔</a></h4>
						<p style="color:#e6d5b9;font-size:12px;font-family:Audiowide-Regular;">代表作：<span>《盗墓笔记》</span></p>
					</div>
					<div class="caption">
						<ul>
							<li><a href="#" class="f2"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#" class="f3"></a></li>
						</ul>
					</div>
				</div>
		
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	
	
	<!--domain-->
	<div class="domain">
		<div class="container">
			<div class="domain-info">
				  <div class="row">
					  <h1 style="color:#fff; font-family: STXINGKA;margin-top:-10px">MY shelf</h1>
					  <%itemlist.forEach(function(val){ %>
						<div class="col-md-4">
						  <div class="panel panel-default">
							<div class="panel-heading"><%=val.name%></div>
							<div class="panel-body list">
							  <ul>
								<% val.articleList.forEach(function(articleval){ %>
									 <li style="text-align:left"><a href=""style="float:left"><%=articleval.title%></a></li>
									 <li style="margin-left:40px;padding-left:160px;text-align:left"><a href="" style="text-align:left;color:gray"><%=articleval.author%></a></li>
					
								<% })%>
							   
							  </ul>
							</div>
						  </div>          
						</div>
					  <%})%>
				  </div>
			</div>
		</div>	
	</div>
	<!--//domain-->
	<!--background-shape-->
	<div class="background-shape color2">
	</div>
	<!--background-shape-->
	<!--about-team-->
	<div class="about-team"> 
	
		<div class="container">
			<h3 class="title"><a href="/author">celebrated dictum</a></h3>
			<div class="team-info">
				<h1>我们可以由读书搜集知识，但必须利用思考把糠和麦子分开。<br/>——富斯德</h1>
			</div>
		</div>
	</div>	
<% include ./footer %>