<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/web/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="/web/css/style1.css" type="text/css" rel="stylesheet" media="all">
<!-- //Custom Theme files -->
<!-- js -->
<script src="/web/js/jquery-1.11.1.min.js"></script> 
<!-- //js -->
<!-- font-awesome icons -->
<link href="/web/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- start-smooth-scrolling-->
<script type="text/javascript" src="/web/js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
		
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smooth-scrolling-->	
</head>
<body>
	<!--banner-->
	<div class="banner">
		<div class="header"><!--header-->
			<div class="container">		
				<nav class="navbar navbar-default" role="navigation">
										<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1 class="navbar-brand"><a  href="index.html">LY</a></h1>
					</div>
					<div class="box">
						<div class="container-4">
							<form>
								<input type="search" id="search" placeholder="Search..." />
								<button class="icon"><i class="fa fa-search"></i></button>
							</form>
						</div>
					</div>
					<!--navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right cl-effect-4">
							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Type <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a class="hvr-bounce-to-bottom" href="about.html">State</a></li>
									<li><a class="hvr-bounce-to-bottom" href="about.html">Prop</a></li>
									<li><a class="hvr-bounce-to-bottom" href="about.html">Num</a></li>      
								</ul>
							</li>
							<li><a href="codes.html">All</a></li>
							<li><a href="gallery.html">Rank</a></li>
							<li><a href="contact.html">Ak</a></li>							
							<li><a href="contact.html">Free</a></li>

						</ul>	
						<div class="clearfix"> </div>	
					</div>
				</nav>
			</div>
		</div>
		<!--//header-->
		<!--banner-text-->
		<!--<div class="banner-text">-->





<!-- css -->
<link href="/jhzp/css/bootstrap.min.css" rel="stylesheet" />
<link href="/jhzp/css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="/jhzp/css/jcarousel.css" rel="stylesheet" />
<link href="/jhzp/css/flexslider.css" rel="stylesheet" />
<link href="/jhzp/js/owl-carousel/owl.carousel.css" rel="stylesheet">
<!--<link href="/jhzp/css/style.css" rel="stylesheet" />-->
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper" class="home-page">
	

	<section id="banner">
		<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="img/slides/1.jpg" alt="" />
                <div class="flex-caption container">
                    <h3>Family Restaurant</h3> 
					<p>Doloribus omnis minus temporibus perferendis ipsa</p>  
                </div>
              </li>
              <li>
                <img src="img/slides/2.jpg" alt="" />
                <div class="flex-caption container">
                    <h3>Best in class service</h3> 
						<p>Doloribus omnis minus temporibus perferendis ipsa</p>  					
                </div>
              </li>
            </ul>
        </div>
			<!-- end slider -->
	</section>
	<section class="txt-area">
		<div class="container">
	
		</div>
	</section>
	<section class="aboutUs">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="aligncenter"><h1 class="aligncenter" style="font-family: STXINGKA;color:#99abd5;">Hello, Welcome!</h1><p style="font-size:16px;color:gray">书籍鼓舞了我的智慧和心灵，它帮助我从腐臭的泥潭中脱身出来，如果没有它们，我就会溺死在那里面，会被愚笨和鄙陋的东西呛住。 ----《高尔基论青年》</p></div> <br/><br/>
						
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<img src="img/22.webp" alt="" style="width:520px">
					<!--<div class="space"></div>-->
				</div>
				<div class="col-md-6">
					<!--<p>Lorem ipsum dolor sit amet, cadipisicing  sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde fuga error commodi architecto, oribus omnis minus autem nemo numquam, ipsa architecto non. magni consequuntlaudantium culpa tenetur at id, beatae pet.</p>
					<p>Lorem ipsum dolor sit amet, cadipisicing  sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde fuga error commodi architecto, oribus omnis minus autem nemo numquam, ipsa architecto non. magni consequuntlaudantium culpa tenetur at id, beatae pet.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. adipisicing  sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium,m deserunt.</p>
					<ul class="list-unstyled">
						<li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum enimdolor sit amet</li>
						<li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Explicabo deleniti neque aliquid</li>
						<li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Consectetur adipisicing elit</li>
						<li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum dolor sit amet</li>
						<li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Quo issimos molest quibusdam temporibus</li>
					</ul>-->
					<h2 style="margin-top:0px">精华作品</h2>
					<h5 style="margin-top:20px;width:380px;color:gray">一个爱书的人，他必定不致缺少一个忠实的朋友，一个良好的老师，一个可爱的伴侣，一个优婉的安慰者。 --伊萨克·巴罗</h5>
					
					<ul style="margin-top:40px">
						<li style="float:left;padding-bottom:15px">
							<div class="col-sm-12">
								<a href="/index/yy.ejs">
									<img src='img/一念心动，一生绵延.jpg' style="float:left;width:140px">
									<div class="txt" style="margin-left:10px;padding-left:10px;width:160px">
										<h4 style="font-family: STXINGKA;color:#99abd5;">一念心动，一生绵延</h4>
										<p style="color:gray;margin-top:10px;padding-top:20px;width:160px;height:140px;overflow:hidden;">她这辈子做过的最美好的事，就是把她的男神变成了她的男人。她这辈子做过的最潇洒的事，却是将她的男人变成了前夫。“唐旭尧，如果以后你真找不到女朋友，我委屈点当你女朋友怎么样？”那年，陆然十八岁。四年后，她与他在人海中不期而遇。然后，她成为了他的唐太太。她以为，她拥有了整个世界。二十四岁，她的世界轰然坍塌，一声“保重”后，她从此音讯全无。二十六岁，熙熙攘攘的机场里，她匆匆撞入他怀中，擦身而过的瞬间，他突然扣住她的手臂，四目相交，他手掌骤然收紧……曾经相遇，曾经心动，曾经错过。曾经以为，我终于拥有了你，直至枕畔再也没有你的温度。</p>
									</div>
								</a>
							</div>
						</li>
						<li style="float:left;padding-top:15px;padding-bottom:15px">
							<div class="col-sm-12">
								<a href="">
									<img src='img/十年一品温如言（全集）.jpg' style="float:left;width:140px">
									<div class="txt" style="margin-left:10px;padding-left:10px;width:160px">
										<h4 style="font-family: STXINGKA;color:#99abd5;">十年一品温如言</h4>
										<p style="color:gray;margin-top:10px;padding-top:20px;width:160px;height:140px;overflow:hidden;">超级畅销书作家书海沧生口口相传之作，承载千万读者珍贵回忆的青春经典！第一年，她贪图美色，爱上他，一盆水泼出百年的冤家。第二年，他为她拍了张照片，照片上有个微笑的姑娘。第三年，他卧病懵懂，赖着她，姑娘醒来发现一场梦啊。第四年，他喜欢的人从维也纳飞回他的心上，她从他的身旁漂泊到了距他最远的水乡。第五年，姑娘再也瞧不见自己的那朵花，他对着电流说我是DJ Yan啊。第八年，每次分离都如余生已去，少年再也瞧不见自己的那只小水龟。第十年，他做了爸爸，她做了妈妈。孩子姓言，母温氏。历数十年之期，他们有了百年的家。</p>
									</div>
								</a>
							</div>
						</li>
						<li style="float:left;padding-top:15px;">
							<div class="col-sm-12">
								<a href="">
									<img src='img/我在怀念，你不再怀念的.jpg' style="float:left;width:140px">
									<div class="txt" style="margin-left:10px;padding-left:10px;width:160px">
										<h4 style="font-family: STXINGKA;color:#99abd5;">我在怀念，你不再怀念的</h4>
										<p style="color:gray;margin-top:10px;padding-top:20px;width:160px;height:140px;overflow:hidden;">慕冯樱：你满足我对男生的所有幻想，五年前的我，用尽了青春年华里最美好的时光来追求你，追在你后面对你表白，每晚对你说晚安，看着你换了一个又一个女友，身边却始终没有我的位置，然这场爱情，如早知是你，早知是孽，我也绝不后悔，可是现在“你放心，许洛枫，我一定会忘了你的。”许洛枫：我不相信爱情，更觉得爱是一件很可笑的事情，也包括你。可……每晚收到你的晚安短信，我会不自觉的上扬嘴角，看到你不知疲倦的追在我身后，我会不自觉的停慢脚步，看到你吃醋却不愿表现出来的眼神，我心里会闪过一丝烦闷。慕冯樱，是你治愈了我。这场爱情，也许对你已是形同陌路，可对我却是刚刚开始——“樱樱，我想和你慢慢变老。”</p>
									</div>
								</a>
							</div>
						</li>
					
					</ul>
				</div>
			</div>
		</div>
	</section>
	

</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/jhzp/js/jquery.js"></script>
<script src="/jhzp/js/jquery.easing.1.3.js"></script>
<script src="/jhzp/js/bootstrap.min.js"></script>
<script src="/jhzp/js/jquery.fancybox.pack.js"></script>
<script src="/jhzp/js/jquery.fancybox-media.js"></script> 
<script src="/jhzp/js/portfolio/jquery.quicksand.js"></script>
<script src="/jhzp/js/portfolio/setting.js"></script>
<script src="/jhzp/js/jquery.flexslider.js"></script>
<script src="/jhzp/js/animate.js"></script>
<script src="/jhzp/js/custom.js"></script>
<script src="/jhzp/js/owl-carousel/owl.carousel.js"></script>
</body>
<% include ./footer %>