<% include ./header%>
	<div id="indexbg">
						<!-- 巨幕 -->
						<div class="jumbotron">
						<!-- <img src="/images/indexbg.jpg"> -->
						  <h1>LY书斋--后台管理系统</h1>
						  <p>...</p>
						  <p><a class="btn btn-primary btn-lg" href="#" role="button">点击进入</a></p>
						</div>
	</div>
<% include ./footer%>