<% include ../admin/header %>


    <ul>
        <li>    
            <a href="/test/adminAdd">添加管理员</a>
        </li>
        <li>    
            <a href="/test/code">验证码</a>
        </li>
    </ul>

<% include ../admin/footer %>